{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for x in books %}
            <div class="book col-md-4">
                <h2>{{ x.name }}</h2>
                <p>Автор: {{ x.author }} </p>
                <p>Дата публикации: {{ x.pub_date }}</p>
            <a href="/books/{{ x.datestring }}">Открыть</a>
            </div>
            {% endfor %}

        </div>
         <div class="row">

            <div class="book col-md-4">
                {% if page_back %}
                 <a href="/books/{{ page_back.datestring }}">{{ page_back.datestring }}</a>
                {% endif %}
                {% if page_forward %}
                 <a href="/books/{{ page_forward.datestring }}">{{ page_forward.datestring }}</a>
                {% endif %}
            </div>


        </div>
    </div>
{% endblock %}